# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../../:\Users\i\Documents\Python Scripts\SPM_docs\model_docs\git2\.idea/dataSources/
/dataSources.local.xml
